* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto; }

body {
  background: #e6e4e9; }

html {
  scroll-behavior: smooth; }

header {
  background: #6414b4; }

.logo {
  width: 100px;
  padding: 0 5px; }

footer h4 {
  font-size: 1.5rem;
  padding: 0.625rem 0; }

.site-footer {
  background: #6414b4;
  height: 120px; }

.icono a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  font-size: 30px; }

.icono a i:hover {
  color: red; }

.shop {
  background-color: #fff; }
  .shop h4:hover,
  .shop img:hover {
    cursor: pointer; }
  .shop h2 {
    color: #6e00c8;
    font-size: 3.5rem;
    padding-bottom: 50px;
    text-align: center; }

.clip h2 {
  color: #6e00c8;
  font-size: 3.5rem;
  padding: 50px 0;
  text-align: center; }

.clip iframe {
  width: 100%; }
