.shop{
    background: map-get($colores, "background2");
    box-shadow: 0 0 40px 0 map-get($colores, "color-shadow");
    border-radius: 20px;
    @media screen and (min-width:425px) {
        margin: 3rem;        
    }
    @media screen and (max-width:425px) {
        margin: 0.6rem;        
    }
    & h4:hover,
    & img:hover{
        cursor: pointer;
    }

    & h2{
        @include h-font;
        padding: 30px 0;
        text-align: center;
    }

    & h3{
        color: map-get($colores, "color1");
        padding-top: 10px;
    }

    & p{
        color: map-get($colores, "color1");
    }
}
