.clip{
    background: rgb(38, 10, 61);
    box-shadow: 0 0 40px 0 rgba(134, 42, 255, 1);
    border-radius: 20px;
    & h2{
        color: rgb(110, 0, 200);
        font-size: 3.5rem;
        padding: 50px 0;
        text-align: center;
    }

    iframe{
        width: 100%;
    }
}

