footer h4{
    font-size: 1.5rem;
    padding: 0.625rem 0;
}

.site-footer{
    background: map-get($colores, "background1" );
    height: 120px;
}

.icono a{
    text-decoration: none;
    color: map-get($colores, "color1" );
    margin: 10px;
    font-size: 30px;
}

.icono a i:hover{
    color: red;
}