.body_wallpaper{
    background: #181818;
}

.gallery{
    & h1{
        @include h-font;
    }
    & p{
        color: map-get($colores, "color1");
    }
    &__grid{
        & img{
            width: 100%;
            object-fit: cover;
            transition: transform 0.5s;
            padding: 1px;
        }
        & a:hover{
            filter: blur(2px);
            transform: scale(1.3);
        }
    } 
    
    &__light-box{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0 ,0 ,0 ,.5);
        transform: scale(0);
    
        & img{
            width: 80vw;
            cursor: pointer;
        }
        
        &:target{
            transform: scale(1)
        }
    }
}

