header{
    background: map-get($colores, "background1" );
    li a{
        font-size: 1.18rem;
        &:hover{
            background-color: map-get($colores, "color-shadow" );
            border-radius: 7%;
        }
    }
    @media screen and (max-width:991px) {
        a{
            font-size: 1.4rem;
        }
        li{
            margin: auto;
        }
    }
}

.logo{
    width: 100px;
    padding: 0 5px;
}