.body_team{
    background: map-get($colores, "background-main");
}
.team-block{
    justify-content: center;
    & .card-body{
        @media screen and (max-width:1440px) {
            p{
                font-size: 1.2rem;
            }
        }
        @media screen and (max-width:1260px) {
            p{
                font-size: 1rem;
            }
            & .ico{
                display: none;
            }
        }
        @media screen and (max-width:992px){
            h5{
                font-size: 1.7rem;
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

    }
    & .card{
        box-shadow: 0 0 40px 0 map-get($colores, "color-shadow");
    }
    & .card-body 
    img{
        min-width: 100%;
    }
    h5{
        font-size: 3rem;
        text-align: center;
    }
    p{
        font-size: 1.6rem;
        margin: 1.3rem 0;
        text-align: center;
    }
}


@media (max-width:425px){
    .team-block{
        & .card-body{
            display: none;
        }
    }
}